@value blackColor from '../../../assets/colors.css';
@value whiteColor from '../../../assets/colors.css';

.baseBackground {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
}

.daylightBackground {
  composes: baseBackground;
  color: blackColor;
  background: whiteColor;
}

.midnightBackground {
  composes: baseBackground;
  background: blackColor;
}

.animation {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.container {
  margin: 0 auto;
}
