@value blackColor from '../../../assets/colors.css';
@value whiteColor from '../../../assets/colors.css';

.baseBackground {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  /* padding: 0 20px; */
  font-family: sans-serif;
  user-select: none;
}

.daylightBackground {
  composes: baseBackground;
  color: blackColor;
  background: whiteColor;
}

.midnightBackground {
  composes: baseBackground;
  background: blackColor;
}

.container {
  margin: 0 auto;
  /* max-width: 880px; */
}
